@font-face {
    font-family: 'PlayfairDisplayRegular'; /*a name to be used later*/
    src: url('/fonts/PlayfairDisplay-Regular.otf'); /*URL to font*/
}


@font-face
{
    font-family: 'Firasanslight';
    src: url('/fonts/Firasanslight.ttf');
}

body
{
    font-family: 'Firasanslight', sans-serif;

}

h1, h2, h3, h4, h5, h6
{
    color: #262626;
    font-family: 'PlayfairDisplayRegular', serif;
}

h2
{
    margin-bottom:30px;
    font-size: 36px;
}

.btn
{
    color: #fefefe;
    background-color: #1fb9b9;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.31);
    border: none;
    border-radius: 2px;
    font-size: 24px;
}

.btn:hover
{
    color: #fefefe;
    background-color: #0c9c9c;
}

.btn-secondary
{
    width: 180px;
}

.form-control
{
    font-size: 20px;
}

select.form-control
{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("/img/polygon.png") no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;

}

.form-control:focus
{
    border-color: #1fb9b9;
}

.form-group:hover
{
    color: #1fb9b9;
}

.form-group label
{
    font-size: 24px;
    color: #333;
}

/** layouts-header__content **/
.layouts-header__content
{
    line-height: 110px;
    height: 110px;
    text-align:center;
    display:table;
    width:100%;
}

.layouts-header__content > h1
{
    display:table-cell;
    vertical-align:middle;
    font-size: 44px;
}

.nav-tabs
{
    height: 68px;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 45px;
}

.nav-tabs .nav-link
{
    height: 66px;
    vertical-align: middle;
    display: table-cell;
    border: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    color: #1fb9b9;
    border-bottom: 4px solid #1fb9b9;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover
{
    color: #0c9c9c;
}

.nav-tabs .nav-item a
{
    color: #333333;
    font-size: 30px;
    line-height: 32px;
}
/** end **/

/** layouts-content__search **/
.layouts-content__search
{
    margin-bottom: 30px;
}
.layouts-content__search .form-control
{
    height: 50px;
}

/** end **/

/** layouts-content__house-filters **/
.layouts-content__house-filters
{
    margin-bottom: 30px;
}

.layouts-content__house-filters
{
    margin-bottom: 30px;
}

.layouts-content__flat-filters  button
{
    margin-bottom: 60px;
}

.layouts-content__flat-filters  button
{
    margin-top: 20px;
}
/** end **/

/** layouts-content__layouts-variants **/
.layouts-content__layouts-variants h2
{
    margin-bottom: 40px;
}

.layouts-content__layouts-variants
{
    margin-bottom: 40px;
}
/** end **/


/** layouts-content__layouts-questions **/
.layouts-content__questions p
{
    margin-bottom: 20px;
    font-size: 18px;
    color: #262626;
}
/** end **/



